@import url(//fonts.googleapis.com/css?family=Karla);
.lead-form-default-font, .leadform-popup-widget, .leadform-smart-bar-widget, .leadform-welcome-mat-widget, .leadform-anchored-trigger.style-tab {
  font-family: 'Karla', 'Helvetica Neue', 'Helvetica', sans-serif;
}

.lead-form-close, .leadform-welcome-mat-close-button, .leadform-welcome-mat-close, .leadform-popup-close, .leadform-smart-bar-close {
  color: #666c70;
  font-size: 35px;
  font-weight: 200;
}

.lead-form-container-default, .leadform-popup-widget, .leadform-welcome-mat-widget, .leadform-welcome-mat-widget .leadform-welcome-mat-container iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.leadform-welcome-mat-close-button, .leadform-welcome-mat-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 47px;
  height: 47px;
  background: rgba(255, 255, 255, 0.3);
  line-height: 38px;
  text-indent: 10px;
  text-align: center;
  border-bottom-left-radius: 100%;
  cursor: pointer;
}

.lead-form-anchored-trigger-icon, .leadform-anchored-trigger {
  width: 50px;
  height: 50px;
  background: black url("//p.weebly.com/lead-form/email-icon.png") center no-repeat;
  z-index: 999;
  cursor: pointer;
}

.leadform-widget-container .form-control input {
  box-shadow: none;
}

.leadform-widget-container .form-control button,
.leadform-widget-container .button-field button {
  padding-top: 0;
  padding-bottom: 0;
  border: 0;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn--absolute-text {
  position: absolute;
  height: 100%;
  width: 100%;
  display: inline-block;
  left: 0;
  top: 0;
  background: transparent;
}

.leadform-popup-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 17px;
  height: 17px;
  line-height: 17px;
  cursor: pointer;
}

.leadform-popup-container {
  margin: 0 auto;
  width: 400px;
  height: 387px;
  position: relative;
}

.leadform-popup-container.leadform-popup-container--full {
  width: 628px;
  height: 400px;
}

.leadform-popup-container.leadform-popup-container--split, .leadform-popup-container.leadform-popup-container--50-50 {
  width: 628px;
  height: 387px;
}

.leadform-popup-container.leadform-popup-container--split .leadform-popup-close, .leadform-popup-container.leadform-popup-container--50-50 .leadform-popup-close {
  top: 15px;
  left: 15px;
  width: 37px;
  height: 37px;
  text-align: center;
  border-radius: 100%;
  background: rgba(175, 175, 175, 0.3);
  line-height: 33px;
  color: white;
}

.leadform-popup-container.leadform-popup-container--compact {
  height: 373px;
}

.leadform-popup-widget {
  position: fixed;
  z-index: 9999;
  display: none;
  transform: translate3d(0, 0, 0);
}

.leadform-popup-widget.leadform-popup-widget--modal .leadform-popup-widget-overlay {
  background: rgba(255, 255, 255, 0.4);
}

.leadform-popup-widget.is-touch-focused {
  position: absolute;
}

.leadform-popup-widget.is-touch-focused .leadform-popup-widget-overlay {
  justify-content: flex-start;
}

.leadform-popup-widget .leadform-popup-widget-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-flow: column wrap;
}

.leadform-popup-widget .leadform-popup-container {
  width: calc(100% - 30%);
  max-width: 400px;
  overflow: hidden;
  background: white;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 40.0625em) {
  .leadform-popup-widget .leadform-popup-container {
    width: 90%;
  }
}

.leadform-popup-widget .leadform-popup-container.leadform-popup-container--full {
  width: calc(100% - 30%);
  max-width: 628px;
}

@media screen and (max-width: 40.0625em) {
  .leadform-popup-widget .leadform-popup-container.leadform-popup-container--full {
    width: 85%;
  }
}

.leadform-popup-widget .leadform-popup-container.leadform-popup-container--split, .leadform-popup-widget .leadform-popup-container.leadform-popup-container--50-50 {
  width: 628px;
  max-width: 628px;
}

@media screen and (max-width: 40.0625em) {
  .leadform-popup-widget .leadform-popup-container.leadform-popup-container--split, .leadform-popup-widget .leadform-popup-container.leadform-popup-container--50-50 {
    max-width: 400px;
    width: 90%;
    height: 548px;
  }
}

.leadform-popup-widget .leadform-popup-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.leadform-popup-widget.fade-in {
  display: block;
  animation: fadeInUp .5s ease-in 1 forwards;
}

.leadform-popup-widget.fade-out {
  opacity: 1;
  animation: fadeOutDown .5s ease-in 1 forwards;
}

@media screen and (max-width: 40.0625em) {
  .leadform-popup-widget.is-preview .leadform-popup-container.leadform-popup-container--split,
  .leadform-popup-widget.is-preview .leadform-popup-container.leadform-popup-container--50-50 {
    height: calc(548px - 30px);
  }
}

.smart-bar-fixed-position {
  position: fixed;
}

.leadform-smart-bar-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border-radius: 100%;
  width: 17px;
  height: 17px;
  text-align: center;
  line-height: 17px;
  color: white;
}

.leadform-smart-bar-container {
  margin: 0 auto;
  width: 100%;
}

.leadform-smart-bar-widget {
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 999;
  top: 0;
  left: 0;
}

.leadform-smart-bar-widget .leadform-smart-bar-container {
  max-width: 960px;
  height: 0;
  transition: height 0.5s;
}

.leadform-smart-bar-widget .leadform-smart-bar-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  /* Fix for iphone iframe width issue PROM-1183 */
  width: 1px;
  min-width: 100%;
  height: 100%;
  border: none;
}

.leadform-smart-bar-widget.fade-in {
  opacity: 1;
}

.leadform-smart-bar-widget.fade-in .leadform-smart-bar-container {
  height: 100px;
}

@media screen and (min-width: 40.0625em) {
  .leadform-smart-bar-widget.fade-in .leadform-smart-bar-container {
    height: 60px;
  }
}

@media screen and (max-width: 22.5em) {
  .leadform-smart-bar-widget.fade-in .leadform-smart-bar-container {
    height: 130px;
  }
}

.leadform-smart-bar-widget.fade-out {
  opacity: 0;
}

.leadform-smart-bar-widget.fade-out .leadform-smart-bar-container {
  height: 0;
}

@media screen and (min-width: 40.0625em) {
  .leadform-smart-bar-widget.fade-out .leadform-smart-bar-container {
    height: 0;
  }
}

@media screen and (max-width: 22.5em) {
  .leadform-smart-bar-widget.fade-out .leadform-smart-bar-container {
    height: 0;
  }
}

.leadform-smart-bar-widget.leadform-smart-bar-widget--full-bar.is-success .leadform-smart-bar-container {
  height: 90px;
}

.leadform-smart-bar-widget.leadform-smart-bar-widget--full-bar.is-error .leadform-smart-bar-container {
  height: 130px;
}

@media screen and (min-width: 40.0625em) {
  .leadform-smart-bar-widget.leadform-smart-bar-widget--full-bar.is-error .leadform-smart-bar-container {
    height: 90px;
  }
}

@media screen and (min-width: 40.0625em) {
  .leadform-smart-bar-widget.leadform-smart-bar-widget--full-bar .leadform-smart-bar-close {
    top: 20px;
    right: 20px;
  }
}

.leadform-smart-bar-widget.leadform-smart-bar-widget--collapsable-bar.fade-in .leadform-smart-bar-container {
  height: 35px;
}

@media screen and (max-width: 22.5em) {
  .leadform-smart-bar-widget.leadform-smart-bar-widget--collapsable-bar.fade-in .leadform-smart-bar-container {
    height: 70px;
  }
}

.leadform-smart-bar-widget.leadform-smart-bar-widget--collapsable-bar.is-open .leadform-smart-bar-container, .leadform-smart-bar-widget.leadform-smart-bar-widget--collapsable-bar.is-success .leadform-smart-bar-container {
  height: 87px;
}

@media screen and (max-width: 22.5em) {
  .leadform-smart-bar-widget.leadform-smart-bar-widget--collapsable-bar.is-open .leadform-smart-bar-container, .leadform-smart-bar-widget.leadform-smart-bar-widget--collapsable-bar.is-success .leadform-smart-bar-container {
    height: 123px;
  }
}

.leadform-smart-bar-widget.leadform-smart-bar-widget--collapsable-bar.is-error .leadform-smart-bar-container {
  height: 123px;
}

@media screen and (max-width: 22.5em) {
  .leadform-smart-bar-widget.leadform-smart-bar-widget--collapsable-bar.is-error .leadform-smart-bar-container {
    height: 123px;
  }
}

.leadform-smart-bar-widget.leadform-smart-bar-widget--collapsable-bar .leadform-smart-bar-close {
  top: 8px;
}

@media screen and (max-width: 30em) {
  .leadform-smart-bar-widget.leadform-smart-bar-widget--collapsable-bar .leadform-smart-bar-close {
    top: 10px;
    right: 10px;
  }
}

@media screen and (max-width: 22.5em) {
  .leadform-smart-bar-widget.leadform-smart-bar-widget--collapsable-bar .leadform-smart-bar-close {
    top: 10px;
    right: 10px;
  }
}

.leadform-smart-bar-widget.leadform-smart-bar-widget--collapsable-bar.fade-out .leadform-smart-bar-container {
  height: 0;
}

.leadform-welcome-mat-container {
  margin: 0 auto;
  position: relative;
}

.leadform-welcome-mat-close {
  color: white;
}

.leadform-welcome-mat-close.leadform-welcome-mat-close--color-background {
  color: #70767c;
}

.leadform-welcome-mat-widget {
  position: fixed;
  z-index: 999;
  display: none;
  background-color: white;
}

.leadform-welcome-mat-widget.is-touch-focused {
  position: absolute;
}

.leadform-welcome-mat-widget.leadform-welcome-mat-widget--color-background {
  background-color: transparent;
}

.leadform-welcome-mat-widget .leadform-welcome-mat-widget-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.leadform-welcome-mat-widget .leadform-welcome-mat-container {
  width: 100%;
  height: 100%;
}

.leadform-welcome-mat-widget .leadform-welcome-mat-container iframe {
  position: absolute;
  border: none;
}

.leadform-welcome-mat-widget.fade-in {
  display: block;
  animation: fadeInUp .5s ease-in 1 forwards;
}

.leadform-welcome-mat-widget.fade-out {
  opacity: 1;
  animation: fadeOutDown .5s ease-in 1 forwards;
}

.leadform-anchored-trigger {
  position: fixed;
  color: white;
  right: 20px;
  bottom: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  line-height: 40px;
  text-indent: -999px;
  z-index: 9999;
}

.leadform-anchored-trigger .trigger-text {
  display: none;
}

.leadform-anchored-trigger.style-tab {
  background: black;
  box-shadow: none;
  bottom: 0;
  width: auto;
  height: auto;
  padding: 0 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-indent: 0;
}

.leadform-anchored-trigger.style-tab .trigger-text {
  display: inline-block;
}

.leadform-anchored-trigger.align-left {
  left: 20px;
  right: auto;
}

.leadform-anchored-widget.is-success .leadform-anchored-close.leadform-popup-close {
  display: block;
}

.leadform-anchored-close {
  display: none;
}

.leadform-anchored-widget iframe {
  display: none;
}

.leadform-anchored-widget--tab {
  position: fixed;
  right: 20px;
  left: auto;
  bottom: 0;
  width: 250px;
  height: 44px;
  transition: height 0.5s;
  z-index: 99;
}

.leadform-anchored-widget--tab .leadform-anchored-widget-overlay,
.leadform-anchored-widget--tab .leadform-anchored-container {
  height: 100%;
}

.leadform-anchored-widget--tab iframe {
  border: none;
  height: 100%;
}

.leadform-anchored-widget--tab.align-left {
  left: 20px;
  right: auto;
}

.leadform-anchored-widget--sidebar {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 70px;
  transition: width 0.5s;
  z-index: 99;
}

.leadform-anchored-widget--sidebar .leadform-anchored-widget-overlay,
.leadform-anchored-widget--sidebar .leadform-anchored-container {
  height: 100%;
}

.leadform-anchored-widget--sidebar iframe {
  border: none;
  height: 100%;
}

.leadform-anchored-widget--sidebar.align-left {
  left: -250px;
  right: auto;
  transition: left 0.5s;
}

.leadform-anchored-widget--sidebar.align-left.is-open {
  left: 0;
}

.leadform-anchored-widget--sidebar.is-open {
  bottom: auto;
  top: 0;
  height: 100%;
}
